{% if site.features.analytics %}
    {% if site.analytics.google.measurement_id != '' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.measurement_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.analytics.google.measurement_id }}');
    </script>
    {% endif %}

    {% if site.analytics.baidu.tracking_id != '' %}
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement('script');
            hm.src = 'https://hm.baidu.com/hm.js?{{ site.analytics.baidu.tracking_id }}';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {% endif %}
{% endif %}
